* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

.debug {
  border: 2px dashed black;
}

.w-debug {
  border: 2px dashed white;
}

body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

.col70-m > img,
.col100 > div > img {
  min-width: 90%;
}

a {
  text-decoration: none;
  color: white;
}

/* HEADER */

header {
  background-color: #3161e0;
  min-height: 100px;
  width: 100%;
  flex-direction: column;
}

.bg-header {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  min-height: 550px;
  padding: 1rem, 0;
  width: 100%;
}

.header-card {
  width: 50%;
  min-height: 300px;
  color: white;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  padding: 0 15px;
  color: white;
  font-size: 1rem;
}

.header-card > h1 {
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

.header-card > p {
  font-size: 1.45rem;
  padding-bottom: 1.5rem;
}

/* MAIN SECTION */

.col30-m > h2,
.col100 > div > h2 {
  font-size: 3.5rem;
  color: #0e0e0e;
  padding: 30px;
}

.col30-m > p,
.col100 > div > p {
  font-size: 1.5rem;
  color: #0e0e0e;
  padding: 30px;
}

.question-m {
  font-size: 2.5rem;
  padding-bottom: 40px;
}

/* FOOTER */

.footer-left-text {
  padding-right: 60px;
  padding-bottom: 30px;
  font-size: 2.5rem;
  color: #5a6ba5;
}

.social-icons {
  font-size: 1.5rem;
  color: white;
  width: 50%;
  padding-top: 15px;
  list-style-type: none;
}

.text-flag-footer {
  font-size: 1rem;
  color: white;
}

.text-flag-footer > img {
  width: 2rem;
  padding-right: 5px;
  padding-bottom: 10px;
}

/* BUTTONS */

.s-button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.m-button {
  padding: 20px 25px;
  border-radius: 40px;
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
}

.b-dark {
  background: #151523;
  color: white;
}

/* SPACING */

.header-padding {
  padding: 10px;
}

.main-padding {
  padding: 30px;
}

.padding-top {
  padding-top: 10px;
}

.footer-margin-bottom {
  margin-bottom: 30px;
}

.cta-footer {
  padding-top: 20px;
  padding-bottom: 30px;
  min-height: 70px;
  width: 70%;
}

.margin-left {
  margin-left: 50px;
}

.final-main-padding {
  padding-bottom: 150px;
}

.t-center {
  text-align: center;
}

/* CONTAINERS */

.header-container {
  width: 70%;
  margin: 20px auto;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.container-cta-footer {
  width: 100%;
  margin-top: 10px;
  border-top: 2px solid white;
}

/* BUTTON */

.f-button {
  padding: 5px;
  background: #f08080;
}
/* FLEX FUCTIONS */

.flex {
  display: flex;
}

.f-grow {
  flex-grow: 1;
}

.f-shrink {
  flex-shrink: 0;
}

.justify-center {
  justify-content: center;
}

.justify-f-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

/* COL % */

.col25 {
  width: 25%;
  height: 4rem;
}

.col70 > .col25 {
  padding: 10px;
}

.col50 {
  width: 50%;
  height: 4rem;
}

.col30-m {
  width: 30%;
}

.col70-m {
  width: 70%;
}

.col100 {
  width: 100%;
}

.col30-f {
  width: 30%;
  min-height: 450px;
  padding-top: 60px;
}

.col70-f {
  width: 70%;
  background: #20b2aa;
  padding-top: 60px;
}

/* BG-COLOR */

.bg-grey {
  background: #d3d3d3;
}

.bg-darkgrey {
  background: #23272a;
}

.bg-cta-footer {
  background: #7fffd4;
}

.bg-main-button {
  background: #8da0e0;
  color: white;
}
